@font-face{
	font-family:'Courgette';
	src:url('font/Courgette/Courgette-Regular.ttf');
}

@font-face{
	font-family: 'Patrick_Hand';
	src:url('font/Patrick_Hand/PatrickHand-Regular.ttf');
}

@font-face{
	font-family: 'Alegreya' ;
	src:url('font/Alegreya/Alegreya-Regular.ttf');
}