#banner{
	background: linear-gradient(to bottom, rgba(218,165,146,.4)0,rgba(218,165,146,.4)100%),url(image/girl15.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#headertitle{
	font-family: Courgette;
}

*{
	font-family: Alegreya;
}

#divider{
	max-width: 3.25rem;
	border-width: .2rem;
	border-color: #fff;
}

#headermain{
	padding: 1.25rem 2.25rem;
	font-size: .85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
	background-color: #fff;
}